<!DOCTYPE html>
<html>
<body>

<h4>Add a new user</h4>
<form>
    <input type='hidden' name='authenticity_token' value='<% form_authenticity_token %>'>
    Name: <input type='text' name='user[name]' placeholder="<%= User.first.name %>">
    <br>
    <br>
    <input type='submit' value='Add!'>
</form>

</body>
</html>
